.results {
        position: relative;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        // align-items: center;
}
.pagesList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}