.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    .header__icon {
        height: 100%;
        margin-right: 10px;
    }
    .header__title {
        color: var(--base);
        font-size: 1.3rem;
    }
}